{% extends 'layout/base.html' %}
{% load static %}

{% block Flora %}
About
{% endblock %}

{% block content %}


<section id="about" class="about my-4" style="font-family: Georgia, 'Times New Roman', Times, serif;">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2 style="font-family: 'Times New Roman', Times, serif;">About Us</h2>
        <p style="font-family: 'Times New Roman', Times, serif; color: blue;">Learn More <span style="color: green;">About Us</span></p>
      </div>

      <div class="row gy-4">
        <div class="col-lg-7 position-relative about-img" style="background-image: url(/static/img/about1.jpg) ;"
          data-aos="fade-up" data-aos-delay="150">
          <div class="call-us position-absolute">
            <h4 style="font-family: 'Times New Roman', Times, serif;">Take Subscription</h4>
            <p>+1 7789 55499 11</p>
          </div>
        </div>
        <div class="col-lg-5 d-flex align-items-end" data-aos="fade-up" data-aos-delay="300">
          <div class="content ps-0 ps-lg-5">
            <p>
              Flora is
              not just a service provider; it's a subscription-based solution that takes care of every aspect of
              incorporating greenery into your spaces. It offers a wide array of plant pots, ranging from desk-sized
              to large office-centric ones, providing a hassle-free experience for individuals and corporate clients.
            </p>
            <p>
              Provide a refreshing and aesthetically pleasing environment for employees. Enhance the overall ambiance
              and air quality in office spaces.Enable individuals to effortlessly adorn their homes with a variety of
              plant pots. Cater to different preferences and sizes, from small desk plants to larger decorative pots.
            </p>
            <ul>
              <li><i class="bi bi-check2-all"></i> To provide a user-friendly platform facilitating the seamless
                selection and integration of various plant pots into corporate offices and individual spaces.</li>
              <li><i class="bi bi-check2-all"></i> To implement a regular health check and maintenance service for the
                potted plants, relieving users from the burden of plant care and enhancing the longevity of the
                greenery.</li>
              <li><i class="bi bi-check2-all"></i> To create a network connecting local nurseries, gardeners, and florists with users,
                ensuring a direct and efficient supply chain for the plant pots.
              </li>
            </ul>

            <div class="position-relative mt-4">
              <img src="/static/img/about2.jpg" class="img-fluid" alt="">

            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
    
  {% endblock content %}
    