{% extends 'layout/base.html' %}
{% load static %}

{% block Flora %}
Contact Us
{% endblock %}

{% block content %}
<section id="contact" class="contact my-4">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>Contact</h2>
        <p><span>For Any Help Contact us</span></p>
      </div>

      <div class="mb-3">
        <iframe style="border:0; width: 100%; height: 350px;"
          src="https://www.google.com/maps/dir//Lower+Ground+Floor,+Raja+Ram+Kumar+Plaza,+opp.+Tej+Kumar+Plaza,+behind+Motimahal+Restaurant,+Sushanpura,+Hazratganj,+Lucknow,+Uttar+Pradesh+226001/@26.846782,80.8622571,12z/data=!4m8!4m7!1m0!1m5!1m1!1s0x399bfd07c3c15643:0x867bb0de72c4c460!2m2!1d80.9446586!2d26.8468059?entry=ttu"
          frameborder="0" allowfullscreen></iframe>
      </div><!-- End Google Maps -->

      <div class="row gy-4">

        <div class="col-md-6">
          <div class="info-item  d-flex align-items-center">
            <i class="icon bi bi-map flex-shrink-0"></i>
            <div>
              <h3>Our Address</h3>
              <p>Gomtinagar , Lucknow </p>
            </div>
          </div>
        </div><!-- End Info Item -->

        <div class="col-md-6">
          <div class="info-item d-flex align-items-center">
            <i class="icon bi bi-envelope flex-shrink-0"></i>
            <div>
              <h3>Our Email</h3>
              <p>Flora@gmail.com</p>
            </div>
          </div>
        </div><!-- End Info Item -->

        <div class="col-md-6">
          <div class="info-item  d-flex align-items-center">
            <i class="icon bi bi-telephone flex-shrink-0"></i>
            <div>
              <h3>Call Us</h3>
              <p>+1 7789 55499 11</p>
            </div>
          </div>
        </div><!-- End Info Item -->

        <div class="col-md-6">
          <div class="info-item  d-flex align-items-center">
            <i class="icon bi bi-share flex-shrink-0"></i>
            <div>
              <h3>Opening Hours</h3>
              <div><strong>Mon to Sat - </strong> 10AM - 7PM;
                <strong>Sunday - </strong> Closed
              </div>
            </div>
          </div>
        </div><!-- End Info Item -->

      </div>

      <form method="post" class="php-email-form p-3 p-md-4">
        {% csrf_token %}
        <div class="row">
          <div class="col-xl-6 form-group">
            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
          </div>
          <div class="col-xl-6 form-group">
            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
          </div>
          <div class="col-xl-6 form-group">
            <input type="text" name="phone" class="form-control" id="phone" placeholder="Your Phone Number" required>
          </div>
        </div>
        <div class="form-group">
          <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
        </div>

        <div class="my-3">
          <div class="loading">Loading</div>
          <div class="error-message"></div>
          <div class="sent-message">Your message has been sent. Thank you!</div>
        </div>
        <div class="text-center"><button type="submit">Send Message</button></div>
      </form>

    </div>
  </section>
{% endblock content %}