{% extends 'layout/base.html' %}
{% load static %}

{% block Flora %}
Contact 
{% endblock %}

{% block content %}
<section id="contact" class="contact my-4" style="font-family: Georgia, 'Times New Roman', Times, serif;">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2 style="font-family: 'Times New Roman', Times, serif;">Contact</h2>
        <p style="font-family: 'Times New Roman', Times, serif; color: blue;">For Any Help <span style="color: green;">Contact Us</span></p>
      </div>

      <div class="mb-3">
        <iframe style="border:0; width: 100%; height: 350px;"
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621"
          frameborder="0" allowfullscreen></iframe>
      </div>

      <div class="row gy-4">

        <div class="col-md-6">
          <div class="info-item  d-flex align-items-center">
            <i class="icon bi bi-map flex-shrink-0"></i>
            <div>
              <h3 style="font-family: 'Times New Roman', Times, serif;">Our Address</h3>
              <p>Gomtinagar , Lucknow </p>
            </div>
          </div>
        </div><!-- End Info Item -->

        <div class="col-md-6">
          <div class="info-item d-flex align-items-center">
            <i class="icon bi bi-envelope flex-shrink-0"></i>
            <div>
              <h3 style="font-family: 'Times New Roman', Times, serif;">Our Email</h3>
              <p>Flora@gmail.com</p>
            </div>
          </div>
        </div><!-- End Info Item -->

        <div class="col-md-6">
          <div class="info-item  d-flex align-items-center">
            <i class="icon bi bi-telephone flex-shrink-0"></i>
            <div>
              <h3 style="font-family: 'Times New Roman', Times, serif;">Call Us</h3>
              <p>+1 7789 55499 11</p>
            </div>
          </div>
        </div><!-- End Info Item -->

        <div class="col-md-6">
          <div class="info-item  d-flex align-items-center">
            <i class="icon bi bi-share flex-shrink-0"></i>
            <div>
              <h3 style="font-family: 'Times New Roman', Times, serif;">Opening Hours</h3>
              <div><strong>Mon to Sat - </strong> 10AM - 7PM;
                <strong>Closed </strong> on Sunday
              </div>
            </div>
          </div>
        </div><!-- End Info Item -->

      </div>

      <form method="post" class="php-email-form p-3 p-md-4" style="background-color: gainsboro;">
        {% csrf_token %}
        <div class="row">
          <div class="col-xl-6 form-group">
            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
          </div>
          <div class="col-xl-6 form-group">
            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
          </div>
          <div class="col-xl-6 form-group">
            <input type="text" name="phone" class="form-control" id="phone" placeholder="Your Phone Number" required>
          </div>
        </div>
        <div class="form-group">
          <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
        </div>

        <div class="my-3">
          <div class="loading">Loading</div>
          <div class="error-message"></div>
          <div class="sent-message">Your message has been sent. Thank you!</div>
        </div>
        <div class="text-center"><button type="submit">Send Message</button></div>
      </form>

    </div>
  </section>
{% endblock content %}