{% extends 'layout/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<section class="my-4" style="font-family: Georgia, 'Times New Roman', Times, serif;">
    <div class="container ground">
        <div class="row" style="margin-right: 47%; margin-left: 1%;">
            <div class="col-11 mt-4 mb-4" style="background-color: whitesmoke; padding: 4%;">
                <h2 style="font-family: 'Times New Roman', Times, serif; text-align: center; color: darkblue;">Edit Your Profile
                </h2>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </form>
                <br>
            </div>
        </div>
    </div>
</section>
{% endblock content %}


{% block css %}
    <style>
        .ground{
            background-image: url('/static/img/feedback1.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
{% endblock css %}
