{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Yummy Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/static/img/favicon.png" rel="icon">
  <link href="/static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Amatic+SC:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/vendor/aos/aos.css" rel="stylesheet">
  <link href="/static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/static/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Yummy
  * Template URL: https://bootstrapmade.com/yummy-bootstrap-restaurant-website-template/
  * Updated: Mar 17 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>


  {% include 'components/header.html' %}

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center section-bg">
    <div class="container">
      <div class="row justify-content-between gy-5">
        <div
          class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">
          <h2 data-aos="fade-up">Welcome to Flora <br> Your Eco-Friendly Plant Companion<br></h2>
          <p data-aos="fade-up" data-aos-delay="100">
            Transform your space with Flora, your one-stop platform for premium flower pots tailored for corporate
            offices and homes. Our subscription-based services ensure hassle-free plant care, connecting you with local
            nurseries, gardeners, and florists for a seamless experience. Experience the beauty of nature, effortlessly.
          </p>
          <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
            <a href="#book-a-table" class="btn-book-a-table">Take a Subscription</a>
          </div>
        </div>
        <div class="col-lg-5 order-1 order-lg-2 text-center text-lg-start">
          <img src="/static/img/home.jpg" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="300">
        </div>
      </div>
    </div>
  </section>
  <!-- End Hero Section -->

    
  <main id="main">
    
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">
  
        <div class="section-header">
          <h2>About Us</h2>
          <p>Learn More <span>About Us</span></p>
        </div>
  
        <div class="row gy-4">
          <div class="col-lg-7 position-relative about-img" style="background-image: url(/static/img/about1.jpg) ;"
            data-aos="fade-up" data-aos-delay="150">
            <div class="call-us position-absolute">
              <h4>Take Subscription</h4>
              <p>+1 7789 55499 11</p>
            </div>
          </div>
          <div class="col-lg-5 d-flex align-items-end" data-aos="fade-up" data-aos-delay="300">
            <div class="content ps-0 ps-lg-5">
              <p class="fst-italic">
                Flora is
                not just a service provider; it's a subscription-based solution that takes care of every aspect of
                incorporating greenery into your spaces. It offers a wide array of plant pots, ranging from desk-sized
                to large office-centric ones, providing a hassle-free experience for individuals and corporate clients.
              </p>
              <ul>
                <li><i class="bi bi-check2-all"></i> To provide a user-friendly platform facilitating the seamless
                  selection and integration of various plant pots into corporate offices and individual spaces.</li>
                <li><i class="bi bi-check2-all"></i> To implement a regular health check and maintenance service for the
                  potted plants, relieving users from the burden of plant care and enhancing the longevity of the
                  greenery.</li>
                <li><i class="bi bi-check2-all"></i> To create a network connecting local nurseries, gardeners, and florists with users,
                  ensuring a direct and efficient supply chain for the plant pots.
                </li>
              </ul>
              <p>
                Provide a refreshing and aesthetically pleasing environment for employees. Enhance the overall ambiance
                and air quality in office spaces.Enable individuals to effortlessly adorn their homes with a variety of
                plant pots. Cater to different preferences and sizes, from small desk plants to larger decorative pots.
              </p>
  
              <div class="position-relative mt-4">
                <img src="/static/img/about2.jpg" class="img-fluid" alt="">
  
              </div>
            </div>
          </div>
        </div>
  
      </div>
    </section>
    <!-- ======= Menu Section ======= -->
    <section id="menu" class="menu">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Our Menu</h2>
          <p><span></span></p>
        </div>

        <ul class="nav nav-tabs d-flex justify-content-center" data-aos="fade-up" data-aos-delay="200">

          <li class="nav-item">
            <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#menu-starters">
              <h4>Outdoor Plants</h4>
            </a>
          </li><!-- End tab nav item -->

          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-breakfast">
              <h4>Indoor Plants</h4>
            </a><!-- End tab nav item -->

          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-lunch">
              <h4>Seasonal Plants</h4>
            </a>
          </li><!-- End tab nav item -->

        </ul>

        <div class="tab-content" data-aos="fade-up" data-aos-delay="300">

          <div class="tab-pane fade active show" id="menu-starters">

            <div class="tab-header text-center">
              <p>Menu</p>
              <h3>Outdoor Plants </h3>
            </div>

            <div class="row gy-5">

              <div class="col-lg-4 menu-item">
                <a href="/static/img/outdoor1.jpeg" class="glightbox"><img src="/static/img/outdoor1.jpeg"
                    class="menu-img img-fluid" alt=""></a>
                <h4>Lavender</h4>
                
                <p class="price">
                  $5.95
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="/static/img/outdoor2.webp" class="glightbox"><img src="/static/img/outdoor2.webp"
                    class="menu-img img-fluid" alt=""></a>
                <h4>Geranium</h4>
                
                <p class="price">
                  $14.95
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="/static/img/outdoor3.jpeg" class="glightbox"><img src="/static/img/outdoor3.jpeg"
                    class="menu-img img-fluid" alt=""></a>
                <h4>Petunia</h4>
                
                <p class="price">
                  $8.95
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="/static/img/outdoor4.jpeg" class="glightbox"><img src="/static/img/outdoor4.jpeg"
                    class="menu-img img-fluid" alt=""></a>
                <h4>Bougainvillea</h4>
                
                <p class="price">
                  $12.95
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="/static/img/outdoor5.webp" class="glightbox"><img src="/static/img/outdoor5.webp"
                    class="menu-img img-fluid" alt=""></a>
                <h4>Hibiscus</h4>
                <p class="price">
                  $12.95
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="/static/img/outdoor6.jpeg" class="glightbox"><img src="/static/img/outdoor6.jpeg"
                    class="menu-img img-fluid" alt=""></a>
                <h4>Succulents</h4>
                <p class="price">
                  $9.95
                </p>
              </div><!-- Menu Item -->

            </div>
          </div><!-- End Starter Menu Content -->

          <div class="tab-pane fade" id="menu-breakfast">

            <div class="tab-header text-center">
              <p>Menu</p>
              <h3>Indoor Plants</h3>
            </div>

            <div class="row gy-5">

              <div class="col-lg-4 menu-item">
                <a href="/static/img/indoor1.jpg" class="glightbox"><img src="/static/img/indoor1.jpg"
                    class="menu-img img-fluid" alt=""></a>
                <h4>Monstera deliciosa</h4>
                <p class="price">
                  $5.95
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="/static/img/indoor2.webp" class="glightbox"><img src="/static/img/indoor2.webp"
                    class="menu-img img-fluid" alt=""></a>
                <h4>Fiddle leaf fig</h4>
                <p class="price">
                  $14.95
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="/static/img/indoor3.jpg" class="glightbox"><img src="/static/img/indoor3.jpg"
                    class="menu-img img-fluid" alt=""></a>
                <h4>Peace lily</h4>
                <p class="price">
                  $8.95
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="/static/img/indoor4.jpg" class="glightbox"><img src="/static/img/indoor4.jpg"
                    class="menu-img img-fluid" alt=""></a>
                <h4>Snake plant </h4>
                <p class="price">
                  $12.95
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="/static/img/indoor5.jpg" class="glightbox"><img src="/static/img/indoor5.jpg"
                    class="menu-img img-fluid" alt=""></a>
                <h4>ZZ plant</h4>
                
                <p class="price">
                  $12.95
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="/static/img/indoor6.jpg" class="glightbox"><img src="/static/img/indoor6.jpg"
                    class="menu-img img-fluid" alt=""></a>
                <h4>Philodendron</h4>
                <p class="price">
                  $9.95
                </p>
              </div><!-- Menu Item -->

            </div>
          </div><!-- End Breakfast Menu Content -->

          <div class="tab-pane fade" id="menu-lunch">

            <div class="tab-header text-center">
              <p>Menu</p>
              <h3>Seasonal Plants</h3>
            </div>

            <div class="row gy-5">

              <div class="col-lg-4 menu-item">
                <a href="/static/img/seasonal1.jpeg" class="glightbox"><img src="/static/img/seasonal1.jpeg"
                    class="menu-img img-fluid" alt=""></a>
                <h4>Poinsettia</h4>
               
                <p class="price">
                  $5.95
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="/static/img/seasonal2.jpeg" class="glightbox"><img src="/static/img/seasonal2.jpeg"
                    class="menu-img img-fluid" alt=""></a>
                <h4>Amaryllis</h4>
                
                <p class="price">
                  $14.95
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="/static/img/seasonal3.webp" class="glightbox"><img src="/static/img/seasonal3.webp"
                    class="menu-img img-fluid" alt=""></a>
                <h4>Cyclamen</h4>
                
                <p class="price">
                  $8.95
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="/static/img/seasonal4.jpeg" class="glightbox"><img src="/static/img/seasonal4.jpeg"
                    class="menu-img img-fluid" alt=""></a>
                <h4>Christmas Cactus</h4>
               
                <p class="price">
                  $12.95
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="/static/img/seasonal5.jpeg" class="glightbox"><img src="/static/img/seasonal5.jpeg"
                    class="menu-img img-fluid" alt=""></a>
                <h4>Paperwhite Narcissus</h4>
                
                <p class="price">
                  $12.95
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="/static/img/seasonal6.jpeg" class="glightbox"><img src="/static/img/seasonal6.jpeg"
                    class="menu-img img-fluid" alt=""></a>
                <h4>Winter Jasmine</h4>
              
                <p class="price">
                  $9.95
                </p>
              </div><!-- Menu Item -->

            </div>
          </div><!-- End Lunch Menu Content -->

        </div>

      </div>
    </section><!-- End Menu Section -->

    <!-- ======= Book A Table Section ======= -->
    <section id="book-a-table" class="book-a-table">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Take a Subscription</h2>
          <p>For Plants <span>Health and Maintenance</span></p>
        </div>

        <div class="row g-0">

          <div class="col-lg-4 reservation-img" style="background-image: url(/static/img/subscription.jpg);"
            data-aos="zoom-out" data-aos-delay="200"></div>

          <div class="col-lg-8 d-flex align-items-center reservation-form-bg">
            <form action="forms/book-a-table.php" method="post" role="form" class="php-email-form" data-aos="fade-up"
              data-aos-delay="100">
              <div class="row gy-4">
                <div class="col-lg-4 col-md-6">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"
                    data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                  <div class="validate"></div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email"
                    data-rule="email" data-msg="Please enter a valid email">
                  <div class="validate"></div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <input type="text" class="form-control" name="phone" id="phone" placeholder="Your Phone"
                    data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                  <div class="validate"></div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <input type="text" name="date" class="form-control" id="date" placeholder="Date" data-rule="minlen:4"
                    data-msg="Please enter at least 4 chars">
                  <div class="validate"></div>
                </div>

              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Address"></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your request was sent. We will call back or send an Email to confirm
                  you. Thank you! </div>
              </div>
              <div class="text-center"><button type="submit">Confirm Subscription</button></div>
            </form>
          </div><!-- End Reservation Form -->

        </div>

      </div>
    </section><!-- End Book A Table Section -->

    <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>gallery</h2>
          <p>Check <span>Our Gallery</span></p>
        </div>

        <div class="gallery-slider swiper">
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                href="/static/img/menu1.jpg"><img src="/static/img/menu1.jpg" class="img-fluid" alt=""></a>
            </div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                href="/static/img/menu2.jpg"><img src="/static/img/menu2.jpg" class="img-fluid" alt=""></a>
            </div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                href="/static/img/menu3.jpg"><img src="/static/img/menu3.jpg" class="img-fluid" alt=""></a>
            </div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                href="/static/img/menu4.jpg"><img src="/static/img/menu4.jpg" class="img-fluid" alt=""></a>
            </div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                href="/static/img/menu8.jpg"><img src="/static/img/menu8.jpg" class="img-fluid" alt=""></a>
            </div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                href="/static/img/menu7.jpg"><img src="/static/img/menu7.jpg" class="img-fluid" alt=""></a>
            </div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                href="/static/img/menu9.jpg"><img src="/static/img/menu9.jpg" class="img-fluid" alt=""></a>
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Gallery Section -->

  </main><!-- End #main -->

  {% include 'components/footer.html' %}

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/vendor/aos/aos.js"></script>
  <script src="/static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/static/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/static/vendor/php-email-form/validate.js"></script>
  <!-- Template Main JS File -->
  <script src="/static/js/main.js"></script>

</body>

</html>
