{% extends 'layout/base.html' %}
{% load static %}

{% block Flora %}
Contact Us
{% endblock %}

{% block content %}


<section id="menu" class="menu my-4">
  <div class="container" data-aos="fade-up">

    <div class="section-header">
      <h2>Our Menu</h2>
      <p><span></span></p>
    </div>

    <ul class="nav nav-tabs d-flex justify-content-center" data-aos="fade-up" data-aos-delay="200">

      <li class="nav-item">
        <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#menu-starters">
          <h4>Summer Plants</h4>
        </a>
      </li><!-- End tab nav item -->

      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-breakfast">
          <h4>Winter Plants</h4>
        </a><!-- End tab nav item -->

      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-lunch">
          <h4>Spring Plants</h4>
        </a>
      </li><!-- End tab nav item -->
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-lunch">
          <h4>Autumn Plants</h4>
        </a>
      </li><!-- End tab nav item -->

    </ul>

    <div class="tab-content" data-aos="fade-up" data-aos-delay="300">

      <div class="tab-pane fade active show" id="menu-starters">

        <div class="tab-header text-center">
          <p>Menu</p>
          <h3>Summer Plants </h3>
        </div>

        <div class="row gy-5">

          {% for item in flowers %}

          {% if item.season_type == 'summer' %}
          <div class="col-lg-4 menu-item">
            <a href="{{item.id}}" class="glightbox">
              <img src="{{item.image.url}}" class="menu-img img-fluid" alt=""></a>
            <h4>{{item.name}}</h4>

            <p class="price">
              {{item.price}}
            </p>
          </div><!-- Menu Item -->
          {% endif %}
          {% endfor %}


        </div>
      </div><!-- End Starter Menu Content -->

      <div class="tab-pane fade" id="menu-breakfast">

        <div class="tab-header text-center">
          <p>Menu</p>
          <h3>Winter Plants</h3>
        </div>

        <div class="row gy-5">

          {% for item in flowers %}

          {% if item.season_type == 'winter' %}
          <div class="col-lg-4 menu-item">
            <a href="{{item.id}}" class="glightbox">
              <img src="{{item.image.url}}" class="menu-img img-fluid" alt=""></a>
            <h4>{{item.name}}</h4>

            <p class="price">
              {{item.price}}
            </p>
          </div><!-- Menu Item -->
          {% endif %}
          {% endfor %}

        </div>
      </div><!-- End Breakfast Menu Content -->

      <div class="tab-pane fade" id="menu-lunch">

        <div class="tab-header text-center">
          <p>Menu</p>
          <h3>Seasonal Plants</h3>
        </div>

        <div class="row gy-5">

          <div class="col-lg-4 menu-item">
            <a href="/static/img/seasonal1.jpeg" class="glightbox"><img src="/static/img/seasonal1.jpeg"
                class="menu-img img-fluid" alt=""></a>
            <h4>Poinsettia</h4>

            <p class="price">
              $5.95
            </p>
          </div><!-- Menu Item -->

          <div class="col-lg-4 menu-item">
            <a href="/static/img/seasonal2.jpeg" class="glightbox"><img src="/static/img/seasonal2.jpeg"
                class="menu-img img-fluid" alt=""></a>
            <h4>Amaryllis</h4>

            <p class="price">
              $14.95
            </p>
          </div><!-- Menu Item -->

          <div class="col-lg-4 menu-item">
            <a href="/static/img/seasonal3.webp" class="glightbox"><img src="/static/img/seasonal3.webp"
                class="menu-img img-fluid" alt=""></a>
            <h4>Cyclamen</h4>

            <p class="price">
              $8.95
            </p>
          </div><!-- Menu Item -->

          <div class="col-lg-4 menu-item">
            <a href="/static/img/seasonal4.jpeg" class="glightbox"><img src="/static/img/seasonal4.jpeg"
                class="menu-img img-fluid" alt=""></a>
            <h4>Christmas Cactus</h4>

            <p class="price">
              $12.95
            </p>
          </div><!-- Menu Item -->

          <div class="col-lg-4 menu-item">
            <a href="/static/img/seasonal5.jpeg" class="glightbox"><img src="/static/img/seasonal5.jpeg"
                class="menu-img img-fluid" alt=""></a>
            <h4>Paperwhite Narcissus</h4>

            <p class="price">
              $12.95
            </p>
          </div><!-- Menu Item -->

          <div class="col-lg-4 menu-item">
            <a href="/static/img/seasonal6.jpeg" class="glightbox"><img src="/static/img/seasonal6.jpeg"
                class="menu-img img-fluid" alt=""></a>
            <h4>Winter Jasmine</h4>

            <p class="price">
              $9.95
            </p>
          </div><!-- Menu Item -->

        </div>
      </div><!-- End Lunch Menu Content -->

    </div>

  </div>
</section>

{% endblock content %}