{% extends 'layout/base.html' %}
{% load static %}

{% block Flora %}
Create new subscription
{% endblock %}

{% block content %}
<script src="https://js.stripe.com/v3/"></script>
<section class="section-content padding-y my-4">
    <div class="container">

        <div class="row">
            <main class="col-md-9" style="width: 62%;">
                <div class="card">

                    <table class="table table-borderless table-shopping-cart">
                        <thead class="text-muted">
                            <tr class="small text-uppercase">
                                <th scope="col">Product</th>
                                <th scope="col" width="120">Quantity</th>
                                <th scope="col" width="120">Price</th>
                                <th scope="col" class="text-right" width="200"> </th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for item in selected_flowers %}
                            <tr>
                                <td>
                                    <figure class="itemside">
                                        <div class="aside">
                                            <img src="{{item.flower.image.url}}" class="img-thumbnail" style="width: 150px; height: 150px; object-fit: cover;">
                                        </div>
                                        <figcaption class="info">
                                            <a href="#" class="title text-dark">{{item.flower.name}} </a> 
                                        </figcaption>
                                    </figure>
                                </td>
                                <td>
                                    <select class="form-control">
                                        <option>{{item.quantity}}</option>
                                    </select>
                                </td>
                                <td>
                                    <div class="price-wrap">
                                        <var class="price">Rs {{item.flower.price}}</var>
                          
                                    </div> <!-- price-wrap .// -->
                                </td>
                                <td class="text-right">
                                    <a href="" class="btn btn-light btn-round"> Remove</a>
                                </td>
                            </tr>
                            {% empty %}

                            {% endfor %}

                        </tbody>
                    </table>

                    <div class="card-body border-top">
                        <a href="#" class="btn btn-primary"> <i class="fa fa-chevron-left"></i> Continue shopping </a>
                    </div>
                </div> <!-- card.// -->

            </main> <!-- col.// -->
            <aside class="col-md-3">
                <!-- card .// -->
                <div class="card">
                    <div class="card-body">
                        <dl class="dlist-align">
                            <dt>Total price:</dt>
                            <dd class="text-right">USD 568</dd>
                        </dl>
                        <dl class="dlist-align">
                            <dt>Discount:</dt>
                            <dd class="text-right">USD 658</dd>
                        </dl>
                        <dl class="dlist-align">
                            <dt>Total:</dt>
                            <dd class="text-right  h5"><strong>$1,650</strong></dd>
                        </dl>
                        <hr>
                        <div class="card-body border-top">
                            <a href="#" class="btn btn-danger">Proceed Payment <i class="fa fa-chevron-right"></i></a>
                        </div>

                    </div> <!-- card-body.// -->
                </div> <!-- card .// -->
            </aside> <!-- col.// -->
        </div>

    </div> <!-- container .//  -->
    
    {% if checkout_id %}
        <!-- launch strip -->
        stripe.redirectToCheckout({
            sessionId: "{{checkout_id}}"
        }).then(function (result) {
            console.log(result.error.message);
        });
    {% else %}
        
    {% endif %}
        
</section>
{% endblock %}
