{% extends 'layout/base.html' %}
{% load static %}

{% block Flora %}
Create new subscription
{% endblock %}


{% block css %}
<script src="https://js.stripe.com/v3/"></script>
{% endblock css %}

{% block content %}

<section class="section-content mt-4"
    style="font-family: 'Times New Roman', Times, serif;  background-color: lightseagreen">
    <div class="container">

        <div class="row">
            <main class="col-md-9" style="width: 64%;">
                <div class="card shadow">

                    <table class="table table-borderless table-shopping-cart">
                        <thead class="text-muted">
                            <tr class="small text-uppercase">
                                <th scope="col">Product</th>
                                <th scope="col" width="220">Product Name</th>
                                <th scope="col" width="140">Quantity</th>
                                <th scope="col" width="170">Price</th>

                            </tr>
                        </thead>
                        <tbody>

                            {% for item in selected_flowers %}
                            <tr>
                                <td>
                                    <figure class="itemside">
                                        <div class="aside">
                                            <img src="{{item.flower.image.url}}" class="img-thumbnail"
                                                style="width: 150px; height: 150px; object-fit: cover;">
                                        </div>
                                    </figure>
                                </td>
                                <td>
                                    <figcaption class="info">
                                        <a href="#" class="title text-dark">{{item.flower.name}} </a>
                                    </figcaption>
                                </td>
                                <td>
                                    <input type="number" class="form-control qty" value="{{item.quantity}}" min="1"
                                        max="500" data-id="{{item.flower.id}}" data-price="{{item.flower.price}}">
                                </td>
                                <td>
                                    <div class="price-wrap">
                                        <var class="price" style="font-weight: 800;">Rs {{item.flower.price}}</var>

                                    </div> <!-- price-wrap .// -->
                                </td>
                            </tr>
                            {% empty %}

                            {% endfor %}

                        </tbody>
                    </table>

                    <div class="card-body border-top">
                        <a href="{% url 'subscription_create' %}" class="btn btn-primary"> <i
                                class="fa fa-chevron-left"></i>
                            Go Back From Here </a>
                    </div>
                </div> <!-- card.// -->

            </main> <!-- col.// -->
            <aside class="col-md-3">
                <!-- card .// -->
                <div class="card shadow">
                    <div class="card-body">
                        <dl class="dlist-align">
                            <dt>Total price:</dt>
                            <dd class="text-right" id="totalprice"></dd>
                        </dl>
                        <dl class="dlist-align">
                            <dt>Discount:</dt>
                            <dd class="text-right" id="discount">3%</dd>
                        </dl>
                        <dl class="dlist-align">
                            <dt>Total:</dt>
                            <dd class="text-right  h5"><strong id="finalprice">0.00</strong></dd>
                        </dl>
                        
                        <div class="card-body border-top">
                            <a href="#" class="btn btn-success pay">Proceed Payment <i
                                    class="fa fa-chevron-right"></i></a>
                        </div>

                    </div> <!-- card-body.// -->
                </div> <!-- card .// -->
            </aside> <!-- col.// -->
        </div>

    </div> <!-- container .//  -->
</section>
{% endblock %}


{% block js %}
<script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        var type = parseInt(`{{stype}}`);
        var total = 0;
        var discount = $('#discount').text().replace('%', '');
        var finalprice = 0;

        $('.qty').each(function () {
            var price = $(this).data('price');
            var qty = $(this).val();
            total += price * qty;
        });
        finalprice = total - (total * discount / 100);
        if (type == 1) {
            finalprice = finalprice * 12
            total = total * 12
        } else {
            console.log("monthly")
        }
        // update price on qty change
        $('#totalprice').text('Rs ' + total);
        $('#finalprice').text('Rs ' + finalprice);
        $('#discount').text(discount + '%');
        $('.qty').on('change', function () {
            var total = 0;
            var finalprice = 0;
            var discount = $('#discount').text().replace('%', '');
            $('.qty').each(function () {
                var price = $(this).data('price');
                var qty = $(this).val();
                // alert(qty);
                total += price * qty;
            });
            if (type == 1) {
                total = total * 12
            } else {
                console.log("monthly")
            }
            finalprice = total - (total * discount / 100);
            $('#totalprice').text('Rs ' + total);
            $('#finalprice').text('Rs ' + finalprice);
            $('#discount').text(discount + '%');
        });
    });
</script>
<script>
    var stripe = Stripe('{{spk}}');
    // var checkoutId = '{{checkout_id}}';
    var paymnetBtn = document.querySelector('.pay');
    paymnetBtn.addEventListener('click', function () {
        // disable button and display spinner inplace of text
        paymnetBtn.innerHTML = '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Processing...';
        paymnetBtn.disabled = true;
        // get checkout id by post total_price 
        var total_price = $('#finalprice').text().replace('Rs ', '');
        fetch('{% url "checkout_session_create" %}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{csrf_token}}'
            },
            body: JSON.stringify({
                total_price: total_price
            })
        }).then(function (response) {
            return response.json();
        }).then(function (session) {
            return stripe.redirectToCheckout({
                sessionId: session.id
            });
        })

    });
</script>
{% endblock js %}