{% extends 'layout/base.html' %}

{% block content %}



<section style="background-color: dodgerblue; font-family: 'Times New Roman', Times, serif;">
    <div class="container py-5">


        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        {% if profile.image %}
                        <img src="{{ profile.image.url }}" alt="avatar" class="rounded-circle img-fluid"
                            style="width:162px;">
                        {% else %}
                        <img src="/profile_image/default.png" alt="avatar" class="rounded-circle img-fluid"
                            style="width: 120px;">
                        {% endif %}
                        <h5 class="my-3">Username : {{user.username}}</h5>
                        <p><a href="{% url 'editprofile' %}" style="color: blue;">Edit your profile</a></p>
                    </div>
                </div>

            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Name</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{user.username}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Email</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{profile.email}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Phone</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">+91 {{profile.phone}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Address</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{profile.address}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">About</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{profile.about}}</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div>
            <button class="w-100 rounded btn btn-light mb-2"> <a style="color: darkgreen;"
                    href="{% url 'subscription_taken' %}">View Your Subscriptions Here </a></button>
        </div>


        <div class="row">
            <h3 style="font-family: 'Times New Roman', Times, serif;" class="text-center mt-4 fw-bold mb-4">ADDRESS LIST</h3>
            {% for item in addresses %}
            <div class="col-md-3">
                <div class="card shadow-sm">
                    <div class="card-body">
                        {{item}}
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'address_edit' item.id %}" class="btn btn-primary"
                            style="width: 40%; margin-right: 7%;">Edit</a>
                        <a href="{% url 'address_delete' item.id %}" class="btn btn-danger" style="width: 40%;"> Delete
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div>
            <button class="w-100 rounded btn btn-light mb-2 mt-4"> <a style="color: darkgreen;"
                    href="{% url 'address_create' %}">Add Address</a></button>
        </div>
    </div>

    </div>
    </div>
</section>

{% endblock content %}
