{% extends 'layout/base.html' %}
{% load static %}

{% block Flora %}
Take Subscription
{% endblock %}

{% block content %}
<section style="background-color: lightgreen;">
    <div class="container my-5" style="font-family: Georgia, 'Times New Roman', Times, serif;">
        <form action="" method="post">
            {% csrf_token %}
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
                {% for item in flowers %}
                <div class="col" for="item_{{item.id}}">
                    <div class="card shadow-sm">
                        <img class="card-img" src="{{ item.image.url }}" alt="Card image cap" style="height: 300px;">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-primary">
                                        {{item.season_type|title}}
                                    </button>
                                    <button type="button" class="btn btn-sm btn-outline-success">
                                        {{item.maintainance_type|title}}
                                    </button>
                                </div>
                                <small class="text-body-secondary fs-5">Rs: {{item.price|floatformat:2}}</small>
                            </div>
                            <p class="card-text">{{item.description|truncatewords:15}}</p>

                            

                            <label for="item_{{item.id}}" class="w-100 ">
                                <div class="d-flex align-items-center ">
                                    <div style="font-weight: 600;">
                                        Add to Subscription
                                    </div>
                                    <div class="ms-auto">
                                        <div class="form-check">
                                            <input class="form-check-input" name="flowers" id="item_{{item.id}}" type="checkbox"
                                                value="{{item.id}}" aria-label="Text for screen reader" />
                                        </div>

                                    </div>
                                </div>
                            </label>

                        </div>
                    </div>
                </div>
                <!-- submit -->
                {% endfor %}
            </div>
            <div class="row my-3">
                <button type="submit" class="btn btn-primary">Complete Subscription</button>
            </div>
        </form>
    </div>
</section>


{% endblock content %}


{% block css %}

{% endblock %}


{% block js %}
<script src="https://unpkg.com/htmx.org@1.9.12"></script>
<script>
    // click on
</script>
{% endblock js %}