{% extends 'layout/base.html' %}
{% load static %}

{% block Flora %}
Take Subscription
{% endblock %}

{% block content %}
<section>
    <div class="container my-5">
        <form action="" method="post">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for item in flowers %}
                <div class="col">
                    <div class="card shadow-sm">
                        <img class="card-img" src="{{ item.image.url }}" alt="Card image cap">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-primary">
                                        {{item.season_type|title}}
                                    </button>
                                    <button type="button" class="btn btn-sm btn-outline-success">
                                        {{item.maintainance_type|title}}
                                    </button>
                                </div>
                                <small class="text-body-secondary fs-5">Rs {{item.price|floatformat:2}}</small>
                            </div>
                            <p class="card-text">{{item.description|truncatewords:20}}</p>

                            <div class="d-flex justify-content-between align-items-center gap-4">
                                <div class="btn-group">
                                    <div class="form-check">
                                        <input type="number" class="form-control" value="1" aria-label="Quantity" min="1" max="99">
                                    </div>
                                </div>
                               <!-- quantity -->
                                <div class="input-group">
                                    <input class="form-check-input" name="" id="" type="checkbox"
                                            value="{{item.id}}" aria-label="{{item.name}}" />
                                        Add to Subscription
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- submit -->
                {% endfor %}
                
            </div>
            <div class="row my-3">
                <button type="submit" class="btn btn-primary">Complete Subscription</button>
            </div>
        </form>
    </div>
</section>


{% endblock content %}


{% block css %}

{% endblock %}


{% block js %}
    
{% endblock js %}
    