{% extends 'layout/base.html' %}
{% load static %}

{% block Flora %}
Subscription List
{% endblock %}

{% block content %}
<section style="background-color: #eee; font-family: 'Times New Roman', Times, serif;">
  <div class="container py-5">


    <div class="row justify-content-center mb-3">

      {% for item in subscriptions %}

      <div class="col-md-12 col-xl-10 mb-4">
        <div class="card shadow-0 border rounded-3">
          <div class="card-body">
            <div class="row">
              <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                <div class="bg-image hover-zoom ripple rounded ripple-surface">
                  <img src="/media/flowers/defaultsub.webp" class="w-100" />
                </div>
              </div>
              <div class="col-md-6 col-lg-6 col-xl-6" style="margin-top: 4.4%;">
                <p>Address:- {{item.address}}</p>
                  <div>
                    Subscription Type : 
                    {% if item.sub_type == 1 %}
                    Yearly 
                    {% else %}
                    Monthly 
                    {% endif %}
                  </div>
                <div class="d-flex flex-row mt-3">
                  <button type="button" class="btn btn-sm btn-outline-primary" style="margin-right: 4%;">
                    Subscription Start Date : {{item.created_at.date}}
                  </button>

                  <button type="button" class="btn btn-sm btn-outline-danger">
                    Subscription Expiry date : {{item.expiry_date}}
                  </button>
                </div>
              </div>


              <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">

                <div class="d-flex flex-row align-items-center justify-content-center" style="margin-top: 24%;">
                  <h4>Total Price :</h4>
                </div>
                <div class="d-flex flex-row align-items-center justify-content-center">
                  <h5>Rs.{{item.price}}</h5>
                </div>
                <div class="d-flex flex-column mt-4">
                  <button data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-sm" type="button"><a
                      href="{% url 'subscription_details' item.id %}" style="color: white;">Details</a></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>

  </div>
</section>

{% endblock content %}


{% block css %}
<style>
  @media (max-width: 767.98px) {
    .border-sm-start-none {
      border-left: none !important;
    }
  }
</style>

{% endblock %}
