{% extends 'layout/base.html' %}
{% load static %}

{% block Flora %}
Subscription Item list
{% endblock %}

{% block content %}
<section style="background-color: whitesmoke;">
    <div class="container my-5" style="font-family: Georgia, 'Times New Roman', Times, serif;">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-5">
            {% for item in flowers %}
            <div class="col" for="item_{{item.id}}">
                <div class="card shadow-sm">
                    <img class="card-img" src="{{item.flower.image.url }}" alt="Card image cap" style="height: 300px;">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-primary">
                                    {{item.flower.season_type|title}}
                                </button>
                                <button type="button" class="btn btn-sm btn-outline-success">
                                    {{item.flower.maintainance_type|title}}
                                </button>
                            </div>
                            <small class="text-body-secondary fs-5">Rs: {{item.flower.price|floatformat:2}}</small>
                        </div>
                        <p class="card-text">{{item.flower.description|truncatewords:15}}</p>
                    </div>
                </div>
            </div>
            <!-- submit -->
            {% endfor %}
        </div>
    </div>


</section>
{% endblock content %}